<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ quiz.title }}</title>
    <script>
        window.onload = function() {
            var timeLimitSeconds = {{ quiz.time_limit.hour }} * 3600 + {{ quiz.time_limit.minute }} * 60 + {{quiz.time_limit.second}};
            var timerDisplay = document.getElementById('timer');
            var quizSubmitted = false;
    
            console.log("Time limit in seconds: " + timeLimitSeconds);  // Add this line for debugging
    
            var countdown = setInterval(function() {
                var minutes = Math.floor(timeLimitSeconds / 60);
                var seconds = timeLimitSeconds % 60;
                timerDisplay.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
    
                console.log("Time remaining: " + minutes + ":" + (seconds < 10 ? "0" : "") + seconds);  // Add this line for debugging
    
                if (timeLimitSeconds <= 0 && !quizSubmitted) {
                    clearInterval(countdown);
                    document.getElementById("quizForm").submit();
                    quizSubmitted = true;
                } else {
                    timeLimitSeconds--;
                }
            }, 1000);
        };
    </script>
</head>
<body>
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    <p>Time Remaining: <span id="timer"></span></p>
    
    <form id="quizForm" method="post">
        {% csrf_token %}
        <ul>
            {% for question in questions %}
                <li>
                    <h3>{{ question.question_no }}. {{ question.question_text }}</h3>
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="1">
                        {{ question.option1 }}
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="2">
                        {{ question.option2 }}
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="3">
                        {{ question.option3 }}
                    </label><br>
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="4">
                        {{ question.option4 }}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
